### Необходимо найти паттерны покупок, что позволит оптимизировать размещение продуктов в магазине, для удобства пользователей и увеличения выручки.

В исходном файле содержится информация о покупках.
- id – означает покупку (в одну покупку входят все товары, купленные пользователем во время 1 похода в магазин)
- Товар – наименование товара
- Количество – число единиц купленного товара

In [1]:
import pandas as pd
import math 
import itertools

In [2]:
df = pd.read_csv('https://stepik.org/media/attachments/lesson/409319/test1_completed.csv')
df.head(7)

      id            Товар  Количество
0  17119            Лимон         1.1
1  17119  Лимон оранжевый         0.7
2  17119        Лук-порей        10.0
3  17119     Лук репчатый         2.5
4  17119    Малина свежая         1.0
5  17119  Морковь немытая         1.4
6  17119  Черешня сушеная         1.8

Необходимо узнать сколько существует всевозможных пар товаров, исключая повторения ([лимон, яблоко] и [яблоко, лимон]), в предоставленных данных.

In [3]:
uniq = df['Товар'].nunique() # всего уникальных продуктов в предоставленных данных
uniq

199

Всего число сочетаний из n объектов по k:

 $$C_r = {n ! \over {k!(n-k)}!}$$ 

где:  
$ C_k $- количество комбинаций;  
$n$ - количество различных объектов;  
$k$ - количество элементов в наборе;

In [4]:
Ck = math.factorial(uniq)/(math.factorial(2)*math.factorial(uniq-2))
Ck

19701.0

In [5]:
#выберем все сочетания по 2 товара из каждого чека

id = df.id.unique() #все уникальные id чеков
spisok = []
for i in id:
    items = df[df.id == i]['Товар'].to_list() #все товары из каждого заказа
    items.sort() #сортируем по названию, чтобы исключить повторяющиеся пары
    combo = list(itertools.combinations(items, 2)) #создаем список из всех комбинаций товаров в каждом конкретном чеке по 2
    for pair in combo:
        spisok.append(pair) #записываем в список

In [10]:
#создим словарь для всех уникальных пар и посчитаем их количество
pairs = {}
for i in spisok:
    pairs[i] = pairs.get(i, 0) + 1

In [12]:
# проверим число пар у нас в словаре

if len(pairs)<=Ck:
    print('Число пар не превышает максимально допустимое число сочетаний - ошибки нет.')
else:
    print('Ошибка')

Число пар не превышает максимально допустимое число сочетаний - ошибки нет.

In [17]:
#отсортируем словарь по убыванию встречаемости пар

pairs_odered = sorted(pairs.items(), key=lambda x: x[1], reverse=True)

In [22]:
frequency = pd.DataFrame.from_dict(pairs_odered) #создадим из словаря DataFrame
frequency.columns = ['Пары', 'Встречаемость'] #зададим названия колонок
frequency.head(10) # выведем 10 наиболее часто встречающихся комбинаций

                                Пары  Встречаемость
0         (Огурцы Луховицкие, Укроп)            431
1                  (Петрушка, Укроп)            408
2         (Арбуз, Огурцы Луховицкие)            345
3       (Кабачки, Огурцы Луховицкие)            326
4                     (Кинза, Укроп)            303
5               (Лук зеленый, Укроп)            300
6      (Огурцы Луховицкие, Петрушка)            286
7  (Лук репчатый, Огурцы Луховицкие)            285
8     (Баклажаны грунтовые, Кабачки)            284
9                   (Кабачки, Укроп)            281

Для удобства пользователей и увеличения выручки можно оптимизировать размещение продуктов в магазине выкладывая рядом товары исходя из сформированных наиболее часто встречающихся пар